.env
.env.*
venv/
env/
.venv/
**/venv/
**/env/
**/.venv/
**/.env
**/.env.*
YOLO/
**/YOLO/
**/yolo/
lib/
Lib/
**/lib/
**/Lib/
**/site-packages/
node_modules/
**/node_modules/
dist/
**/dist/
__pycache__/
**/__pycache__/
*.pyc
backend/models/yolo_weights/best.pt
